<div>
  <mat-form-field>
    <input matInput placeholder="Number of nodes" [(ngModel)]="nodesNumber" type="number">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Node min weight" [(ngModel)]="nodeMinWeight" type="number">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Node max weight" [(ngModel)]="nodeMaxWeight" type="number">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Link min weight" [(ngModel)]="linkMinWeight" type="number">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Link max weight" [(ngModel)]="linkMaxWeight" type="number">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Limit" [(ngModel)]="limit" type="number">
  </mat-form-field>

  <button mat-button (click)="getRandomGraph()">Generate</button>
</div>

<mat-form-field>
  <mat-label>Algorithm</mat-label>
  <mat-select [(ngModel)]="selectedMethod">
    <mat-option *ngFor="let method of methods" [value]="method.value">
      {{method.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<button mat-button (click)="updateResultGraphData()">Get result</button>

<app-graph-details [graphData]="initialGraphData"></app-graph-details>
<graph [data]="initialGraphData"></graph>

<app-graph-details *ngIf="resultGraphData" [graphData]="resultGraphData"></app-graph-details>
<graph *ngIf="resultGraphData" [data]="resultGraphData"></graph>

{{score}}

