$base-color: #206caf;
$accent-color: #8bc34a;

$primary-color: #559fe0;

$error-color: #ef5350;

$base-transparent-color: transparentize($base-color, .9);

$background-primary-color: #ffffff;
$background-dark-color: #2e2e2e;

$border-color: #e6e6e6;
$border-dark-color: #cccccc;

$font-default-color: rgba(0, 0, 0, .8);
$font-light-color: rgba(255, 255, 255, .8);
$font-disguise-color: rgba(0, 0, 0, .5);

// social colors
$vk-color: #507299;
$facebook-color: #3b5998;
$instagram-color: #2e5e86;
$linkedin-color: #0082ca;
$twitter-color: #1da1f2;
