@mixin visibility-transition($duration: 0.1s) {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.9);
  transition: visibility 0s linear $duration, opacity $duration ease, transform $duration ease;

  &._visible {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    transform: scale(1);
  }
}

@mixin light-shadow() {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

@mixin heavy-shadow() {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}
